.vs/
bin/
obj/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Application runtime files
settings.txt
weight_logs.csv
weight_logs_export_*.csv

# NuGet Packages
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/

# Visual Studio cache files
*.suo
*.user
.vs/

# Windows image file caches
Thumbs.db
ehthumbs.db
